<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096515087253-09biv8m178b7f6dhm7s4kamaebn9951t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096515087253-09biv8m178b7f6dhm7s4kamaebn9951t</string>
	<key>API_KEY</key>
	<string>AIzaSyDGnJaR3qkF7sM3jzcbqQK4NAn-_HS4gpE</string>
	<key>GCM_SENDER_ID</key>
	<string>1096515087253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatConsulting</string>
	<key>PROJECT_ID</key>
	<string>consulting-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>consulting-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096515087253:ios:091b5c03a2ebef30f4e49c</string>
</dict>
</plist>